<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="warning" class="ion-text-center">
      Shopping(Amazon)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu slide="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Start menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu</ion-item>
      <ion-item>Menu</ion-item>
      <ion-item>Menu</ion-item>
      <ion-item>Menu</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="end" type="push">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>End Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content>
  <ion-grid>
    <ion-list *ngFor="let item of items">
      <ion-item>
        <ion-row>
          <ion-col size="6">
              <img [src]="item.pimage">            
          </ion-col>
          <ion-col size="6">
              {{item.title}}
          </ion-col>
        </ion-row>
      </ion-item>  
  </ion-list>
  </ion-grid>
</ion-content>